@model Ali_Amir_Filters.Models.syana

@{
    ViewBag.Title = "Details";
}

<h2>تـفاصيل الصيانه</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Coustmer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coustmer.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.date_syana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_syana)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.candel_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.candel_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.filter_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.filter_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Coustmer.adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coustmer.adress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Coustmer.phone_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coustmer.phone_Number)
            <br />
            <br />
            @Html.DisplayFor(model => model.Coustmer.phone_Number2)
        </dd>




    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
